body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    position: relative;
}

.header {
    background-color: #FFE9D6;
    overflow: hidden;
    height: 750px;
}


/* Navigation */

.nav {
    float: left;
    margin: 0;
    overflow: hidden;
    text-align: center;
    width: 50%;
}

.nav ul {
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
    list-style-type: none;
}

ul>li>a {
    display: block;
    line-height: 2em;
    padding: 0.5em 1em;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 24px;
}

ul li a:hover {
    color: #FF0000;
}

.logo {
    float: left;
    position: relative;
    left: 100px;
    width: 25%;
    align-items: center;
    margin-top: 10px;
}

.cart {
    float: right;
    margin-right: 100px;
    margin-top: 10px;
    position: relative;
    top: 5px
}

.cart h2 {
    float: right;
    color: white;
    position: relative;
    right: 40px;
    margin-top: 10px;
    font-size: 30px;
    font-family: sans-serif;
}

.cart img {
    padding: 0px 50px;
    background-color: #FF7A00;
    border-radius: 35px;
}

.navigation {
    overflow: hidden;
}


/* Section One */

.sectionOne {
    width: 100%;
}

.sectionOne h1,
.sectionOne img {
    float: left;
}

.sectionOne h1 {
    width: 40%;
    font-size: 100px;
    font-family: sans-serif;
    text-align: left;
    color: #FF7A00;
    vertical-align: auto;
    padding: 50px;
    margin-left: 100px;
}

.sectionOne img {
    width: 40%;
    max-width: 100%;
    height: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.button {
    text-align: center;
}

.button a {
    border-radius: 5px;
    color: #FFE9D6;
    background-color: #FF7A00;
    padding: 20px 70px;
    margin-bottom: 10px;
    text-decoration: none;
    font-family: sans-serif;
}

.button a:hover {
    background-color: #FFCD9E;
    color: black;
}

.description {
    background-color: black;
    padding: 50px;
}

.description p {
    color: white;
    text-align: center;
    font-size: 1.5em;
    width: 50%;
    margin: auto;
}

.gadgets {
    background-color: white;
    overflow: auto;
    font-family: sans-serif;
}

.gadgets h1 {
    padding: 15px;
    font-size: 48px;
    text-align: center;
    margin-top: 20px
}

.product {
    text-align: center;
    float: left;
    width: 33.3%;
    margin: 50px 0px;
    position: relative;
}

.product button {
    border-radius: 5px;
    color: #FFE9D6;
    background-color: #FF7A00;
    text-decoration: none;
    font-family: sans-serif;
    padding: 14px 20%;
    border-color: white;
}

.product .centered h2 {
    text-decoration: underline;
}

.product .centered {
    display: none;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 18px;
}

.product:hover img {
    opacity: 0.5;
}

.product:hover .centered {
    display: block;
}

.footer {
    background-color: black;
    padding: 50px;
}

.footer p {
    float: right;
    color: white;
}

#shop {
    position: absolute;
    display: none;
    top: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
}

#cartList {
    width: 50%;
    background-color: white;
    top: 10px;
    margin: auto;
    padding: 20px;
    margin-top: 5px;
    font-family: sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
}

#cartList table {
    width: 100%;
}

#cartList table tr {
    padding: 5px;
}

#cartList table th {
    padding: 10px;
    text-align: center;
}

#cartList form {
    width: 100%;
    margin-left: 50px;
    margin-top: 20px;
}

#cartList form input {
    width: 80%;
    padding: 5px 20px;
    background-color: #FFE9D6;
}

#cartList h2,
.amount {
    text-align: center;
}

.amount {
    font-size: 36px;
}

#cartList button {
    border-radius: 5px;
    padding: 14px 50px;
    border-color: white;
    font-size: medium;
    float: right;
}

#cartList #continue {
    background-color: #FFE9D6;
    color: black
}

#cartList #checkout {
    background-color: #FF7A00;
    color: white;
}

.errors {
    color: grey;
    text-align: center;
    font-family: sans-serif;
    padding: 1px;
    margin-top: 2px;
}

#summary {
    position: absolute;
    display: none;
    top: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
}

#customer {
    color: #FF7A00;
}

#ThankYouPage {
    width: 50%;
    background-color: white;
    top: 10px;
    margin: auto;
    padding: 20px;
    margin-top: 5px;
    font-family: sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
}

#ThankYouPage img {
    margin-left: 45%;
}

#ThankYouPage p {
    font-size: 36px;
    font-family: sans-serif;
    text-align: center;
}

#ThankYouPage button {
    border-radius: 5px;
    padding: 14px 50px;
    border-color: white;
    font-size: medium;
    float: right;
    background-color: #FF7A00;
    color: white;
}

@media screen and (max-width: 1200px) {
    .header {
        height: 1000px;
    }
    .product {
        width: 50%;
    }
    .resolution {
        width: 100%;
        margin: auto;
    }
    .resolution .cart {
        margin-right: 10px;
    }
    .resolution img {
        padding: 0px 30px;
    }
    ul>li>a {
        font-size: 20px;
    }
    .sectionOne h1 {
        width: 100%;
        font-size: 50px;
        text-align: center;
        margin: auto;
    }
    .sectionOne img {
        width: 100%;
        height: 550px;
        margin: auto;
    }
}

@media screen and (max-width: 600px) {
    .product {
        width: 100%;
    }
    .logo {
        display: none;
    }
    .resolution {
        width: 100%;
        margin: auto;
    }
    .resolution .cart {
        margin-right: 10px;
    }
    .resolution img {
        padding: 0px 30px;
    }
    ul>li>a {
        font-size: 18px;
    }
    .sectionOne h1 {
        width: 100%;
        font-size: 60px;
        text-align: center;
        margin: auto;
    }
    .sectionOne img {
        width: 100%;
        margin: auto;
        height: 550px;
    }
    .description p {
        color: white;
        text-align: center;
        font-size: 1.2em;
        width: 50%;
        margin: auto;
    }
}